.galeria {
  overflow: hidden;
}

.galeria .foto {
  width: 25%;
  float: left;
  height: 350px;
}

.galeria .foto img {
  width: 100%;
  vertical-align: top;
padding-bottom: 20px;
}



/*.galeria .foto img:hover {
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}